@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white; /*背景颜色*/
  --foreground: black; /*字体颜色*/
  --hoverground: #edecf3; /*划入背景颜色*/
  --iconground: #7d7e85; /*划入背景颜色*/
  --hovericonground: #000000; /*划入icon颜色*/
  --tweetIcon: #0f1419; /*tweet nav 图标颜色*/
  --borderground: #edecf3; /*border颜色*/
  --tweetIconopacity: 0.48; /*icon 没划入的时候透明度*/
  --navbuttonground: #0e76fd; /*nav 按钮颜色*/
  --navbuttonborder: #0e76fd; /*nav 按钮边框颜色*/
  --rigsidebarground: #f7f9f9; /* 右边框颜色 */
  --rigsidebarboder: none; /* 右边框颜色 */
  --upperground: rgb(254, 255, 255, 0.8); /* tweet 吸顶框背景颜色*/
  --uppercolor: #040404; /* tweet 吸顶框字体颜色*/
  --cardground: #f7f9f9; /*tweet 卡片背景颜色*/
  --cardborder: #cfd9de; /* 卡片border分隔符 */
}

[data-theme='dark'] {
  --background: #121212; /*背景颜色*/
  --foreground: white; /*字体颜色*/
  --hoverground: #262626; /*划入背景颜色*/
  --hovericonground: #ffffff; /*划入icon颜色*/
  --tweetIcon: #fffdfd; /*tweet nav 图标颜色*/
  --tweetIconopacity: 0.6; /*icon 划入的时候透明度*/
  --borderground: #262626; /*border颜色*/
  --navbuttonground: #404040; /*nav 按钮颜色*/
  --navbuttonborder: #696969; /*nav 按钮边框颜色*/
  --rigsidebarground: #121212; /* black */
  --rigsidebarboder: 1px solid #696969; /* 右边框颜色 */
  --upperground: rgb(4, 4, 4, 0.8); /* tweet 吸顶框背景颜色*/
  --uppercolor: #666666; /* tweet 吸顶框字体颜色*/
  --cardground: #1e1e1e; /*tweet 卡片背景颜色*/
  --cardborder: #404040; /* 卡片border分隔符 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.w-20vw {
  width: 12vw;
}
.children-div {
  width: calc(100% - 12vw);
}

.DynamicCard-grid {
}
