.nav {
  background: var(--background);
  border-right: 1px solid var(--borderground);
  border-left: 1px solid var(--borderground);
  .r-18jsvk2 {
    width: 24px;
    height: 24px;
    fill: var(--tweetIcon);
    fill-opacity: var(--tweetIconopacity);
  }
  .icon-div {
    cursor: pointer;
    margin: 0.2rem;
  }
  .navSelected {
    font-weight: 900;
    border-radius: 1.5rem;
    background: var(--hoverground);
    .r-18jsvk2 {
      fill-opacity: 1;
    }
  }
  .icon-div:hover {
    border-radius: 1.5rem;
    background: var(--hoverground);
    .r-18jsvk2 {
      fill-opacity: 1;
    }
  }
  .nav-button {
    margin-top: 1rem;
    border: 1px solid var(--navbuttonborder);
    background: var(--navbuttonground);
    padding: 1.4rem;
  }
}

.right-sidebar-nav {
  border-left: 1px solid var(--borderground);
  .nav-button {
    width: 10rem;
    margin-top: 1rem;
    border: 1px solid var(--navbuttonborder);
    background: var(--navbuttonground);
    padding: 1.4rem;
  }

  .sidebar-card {
    background: var(--rigsidebarground);
    border: var(--rigsidebarboder);
    color: var(--hovericonground);
  }
  .nextui-c-eFfoBo {
    padding: 0.4rem 1rem !important;
  }
}
